*.sdf
*.suo
*_i.c
*_i.h
*_p.c
*.suo
*.db
*.VC.opendb
*.VC.db
*.opendb
*.user
*.aps
*.log.bak
*.log
*.tlog
*.tmp
*.vcxproj.user

bin
lib
obj
ipch
/Clones/Debug
/Clones/Release
/ClonesTests/Debug
/ClonesTests/Release
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/Release
/StarWars/x64/Debug
/x64/Debug
/Debug
